<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Under Five Mortality Rate Heatmap</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

    <div class="dashboard-container">
        <h1>Under Five Mortality Rate Heatmap</h1>
        <div class="search-container">
            <input type="text" id="searchInput" placeholder="Search Country or click on bar">
            <button onclick="filterData()">Search</button>
            <button onclick="filterData('all')">All</button>
        </div>
        <div id="heatmap"></div>
        <div id="detailsContainer" style="display: none;">
            <img id="detailsImage" src="" alt="Details Image">
            <!-- Other details (Contry, Code) can be added here -->
        </div>
    </div>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="static/script.js"></script>
</body>
</html>
